
@{
    ViewData["Title"] = "Öğrenci";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<Student>

<br />
<div class="container-fluid">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            @Html.ActionLink("Anasayfa","Index","Home")
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                            <th>@Html.DisplayNameFor(model => model.LastName)</th>
                            <th>@Html.DisplayNameFor(model => model.StudentNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>

                            <th>Aksiyonlar</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                            <th>@Html.DisplayNameFor(model => model.LastName)</th>
                            <th>@Html.DisplayNameFor(model => model.StudentNumber)</th>
                            <th>@Html.DisplayNameFor(model => model.EmailAddress)</th>
                            <th>@Html.DisplayNameFor(model => model.PhoneNumber)</th>

                            <th>Aksiyonlar</th>



                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.StudentNumber</td>
                                <td>@item.EmailAddress</td>
                                <td>@item.PhoneNumber</td>

                                <td>

                                    @Html.ActionLink("Kiralanan Kitaplar", "GetRentBook", "Student", new { Id = item.StudentId })
                                    @Html.ActionLink("Sil", "Delete", "Student", new { Id = item.StudentId })
                                    @Html.ActionLink("Güncelle", "Update", "Student", new { Id = item.StudentId })


                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


