
@{
    ViewData["Title"] = "Kiralık Kitap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@model IEnumerable<RentBook>

@using OdalysProject.Web.Models

<br />
<div class="container-fluid">

    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item">
            @Html.ActionLink("Anasayfa", "Index", "Home")
        </li>
        <li class="breadcrumb-item active">@ViewData["Title"]</li>
    </ol>
    <div class="card mb-4">
        <div class="card-body">

        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table mr-1"></i>
            @ViewData["Title"]
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>

                            <th>@Html.DisplayNameFor(model => model.Book.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.StudentId)</th>
                            <th>@Html.DisplayNameFor(model => model.Student.FirstName)</th>
                            <th>@Html.DisplayNameFor(model => model.Student.LastName)</th>
                            <th>@Html.DisplayNameFor(model => model.RentDate)</th>
                            <th>@Html.DisplayNameFor(model => model.DeliveryDate)</th>
                            <th>Kalan Süre</th>





                        </tr>
                    </thead>
                    <tfoot>
                        <tr>

                            <th>@Html.DisplayNameFor(model => model.Book.Name)</th>
                            <th>@Html.DisplayNameFor(model => model.StudentId)</th>
                            <th>@Html.DisplayNameFor(model => model.Student.FirstName)</th>
                            <th>@Html.DisplayNameFor(model => model.Student.LastName)</th>
                            <th>@Html.DisplayNameFor(model => model.RentDate)</th>
                            <th>@Html.DisplayNameFor(model => model.DeliveryDate)</th>
                            <th>Kalan Süre</th>



                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>@item.Book.Name</td>
                                <td>@item.Student.StudentNumber</td>
                                <td>@item.Student.FirstName</td>
                                <td>@item.Student.LastName</td>
                                <td class="text-success"><strong>@item.RentDate</strong></td>
                                @{
                                    var date = new DateTime();

                                    if (item.DeliveryDate == date)
                                    {
                                        <td  class="text-danger"><strong>Teslim Edilmedi</strong></td>
                                        
                                    }
                                    else
                                    {
                                        <td class="text-danger"><strong>@item.DeliveryDate.Date</strong></td>
                                    }


                                }


                                @if (item.DeliveryDate == date)
                                {
                                    <td><strong>@item.RentDate.AddDays(90)</strong></td>
                                }
                                else
                                {
                                    <td><strong>Bitti</strong></td>
                                }




                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

